@import "bootstrap-sprockets";
@import "bootstrap";

.white{
    color: #fff !important;
}

.page-alignment {
    margin-top: 50px;
}

#page-footer {
    margin-top: 300px !important;
}

.page-title {
    color:  #006400;
}

.btn {
    border: 2px solid white;
}

body { 
    padding-top: 65px; 
}

/* HOME PAGE */
.head-banner {
    
    background: #006400 ;
}


/* NAVBAR */

.hide {
    visibility: hidden;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse {
    color: #fff;
    background: #006400;
}

.navbar-inverse .fa{
    color: #fff;
}
.fa {
    margin-top: 5px;
}

/* FORM */

.form-control {
    border: 2px solid white !important;
}

/* INDEX PAGE */

img {
    border: .5px solid white;
    border-radius: 3px;
    padding: .5px;
}

.pic {
    width: 50px;
}

.index-button {
    background: #006400;
    border: 2px solid white;
}

.index-button:hover {
    background: #669900;
    border: 2px solid white;
}

.list {
    margin-left: 10px;
}

.carDetail {
    padding: 5px;
}

.make {
    color: white;
}
.make:hover{
    text-decoration: none;
}
// (Green block)
.well-green {
    background: #006400;
    color: #fff;
}

// (White Block)
.well-white {
    background: #fff;
    color: #006400;
    img {
        border: 1px solid  #006400;
        padding: 1px;
    }
    .make {
        color: #006400 ;
    }
}

.car-block {
    border: 5px solid black;
    
}

/* SHOW PAGE */
.show-block {
    margin-bottom: 300px !important;
    font-weight: bold;
    color: #006400;
}

.show-text {
    font-weight: bold;
}
.mainPic {
    border: 1px solid #006400;
    padding: 1px;
}

    

/* FOOTER */

.copyright {
    text-decoration: none !important;
    color: #fff ;
}

.fa {
    font-size: 18px;
}

/* FLASH WARNINGS */




