<%= render 'errors' %> 
<div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <div align="center">
                    <h2 class="page-title">Add a New Car</h2>
                </div>
            </div>
        </div>
        

        <%= render 'cars/form' %>
    </div>
</div>