<%= render 'layouts/flash' %>
<div align="center">
    <h2 class="page-title">Edit Car Details</h2>
</div>

<div class="container">
    <div align="center">
        <%= render 'errors' %>

        <%= render 'cars/form' %>
    </div>
</div>