@import "bootstrap-sprockets";
@import "bootstrap";

.white{
    color: #fff !important;
}

.page-alignment {
    margin-top: 50px;
}

#page-footer {
    margin-top: 300px !important;
}

.page-title {
    color:  #006400;
}

/* HOME PAGE */
.head-banner {
    
    background: #006400 ;
}


/* NAVBAR */

.hide {
    visibility: hidden;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse {
    color: #fff;
    background: #006400;
}

.navbar-inverse .fa{
    color: #fff;
}
.fa {
    margin-top: 5px;
}

/* INDEX PAGE */

img {
    border: .5px solid black;
    border-radius: 3px;
    padding: .5px;
}

/* SHOW PAGE */
.show-block {
    margin-bottom: 300px !important;
}

    

/* FOOTER */

.copyright {
    text-decoration: none !important;
    color: #fff ;
}




