@import 'materialize';
@import "font-awesome";

.brand-logo {
    padding-left: 20px!important;
}

#barcol {
    background-color: green; 
}

/* NAV SECTION */

.tabs {
   background-color: green;
   
}

.banner {
    margin: 100px;
    font-size: 22px;
    
}

.tabs .tab a {
    background-color: green; 
    color: white;
    font-weight: bold;
    
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    will-change: left, right;
}

.indicator {
    align-content: right;
}

/* FORM SECTION */

.form {
    //border: 1px solid black;
    text-align: center;
}


/* INDEX SECTION */

a {
    text-decoration: none;
    color: inherit;
}

/* CAR SHOWPAGE */

// Buttons

.btn-edit {
    background: green;
}
.btn-index {
    background: #FF8C00;
}
.btn-edit:hover {
    background: #32CD32;
}

.btn-index:hover {
    background: #FFA500;
}
//Image
.photo {
    border: 2px solid black;
    padding: 3px;
    border-radius: 5px;
}

/* FOOTER SECTION */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
