@import 'materialize';

.brand-logo {
    padding-left: 20px!important;
}

#barcol {
    background-color: #006400; 
}

/* GENERAL */

.head-badge {
    background: #fff;
    color: #006400;
    border-radius: 5px;
}

.home-banner {
    background: #006400;
    color: #fff;
    border-radius: 5px;
    margin-top: 60px;
}

/* NAV SECTION */

.tabs {
   background-color: #006400;
   
}

.banner {
    margin: 100px;
    font-size: 22px;
    
}

.tabs .tab a {
    background-color: #006400; 
    color: white;
    font-weight: bold;
    
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    will-change: left, right;
}

.indicator {
    align-content: right;
}

.banner-text {
    margin-left: 10px;
}


/* FORM SECTION */

.form {
    //border: 1px solid black;
    text-align: center;
}


/* INDEX SECTION */

a {
    text-decoration: none;
    color: inherit;
}

// Thumbnail Image
.IndexImage img {
    border-radius: 5px;
}

/* CAR SHOWPAGE */

// Buttons

.btn-edit {
    background: #006400;
    color: #fff;
}
.btn-edit:hover {
    background: #32CD32;
    color: #fff;
}

.btn-index {
    background: #FF8C00;
}
.btn-index:hover {
    background: #FFA500;
}
.btn-delete {
    background: #FF0000;
    color: #fff;
}
.btn-delete:hover {
    background: #ff9999;
    color: #fff;
    
}

#white {
    color: #fff;
}

//Banner
.car-detail{
    background: #006400;
    color: #fff;
    //font-weight: bold;
    border-radius: 5px;
}

//Image
.photo {
    border: 2px solid black;
    padding: 3px;
    border-radius: 5px;
}

 @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) {
     .banner {
    visibility: none }
} 
    
  

/* FOOTER SECTION */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* ALERTS */

.ul, .menu, .dir {
    background: #006400;
}

.flashAlertMain {
    background: #f2dede;
    color: #a94442;
}

.card-panel {
    background: teal lighten-2;
   
}