<div class="container">
            <div class="row">
              <div class="col-md-12">
                <!-- Footer -->
<!-- <div class="footer navbar-fixed-bottom"> -->
<!-- <footer class="footer navbar-fixed-bottom font-small cyan darken-3"> -->

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
      
          <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

           
            <div class="footer-copyright text-center py-3">
                <%= render "layouts/footerSocialMedia" %>
                <br />
                <span>Created By Vincent Walker</span>
                <%= link_to "Car Bar", root_path, class: "pull-right copyright" %>
           </div>
          </div>
        </div>
        
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright 
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://vincethewalker.com/"> Vincent Walker</a>
       <a class="" href="#!"><%#= link_to "Car Bar", root_path, class: "pull-right" %></a>
    </div>
    Copyright -->

  <!--</footer> -->
  
 