<div class="container">
            <div class="row">
              <div class="">
                <h5 class="white-text">Well!!</h5>
                <p class="">So what kind of car would you like?</p>
              </div>
              <div class="">
                <h5 class="white-text">Social Media</h5>
                  <ul>
                  <li><a class="" href="#!"><i class="fa fa-facebook fa-lg"></i></a>
                    	<a class="" href="#!"><i class="fa fa-instagram fa-lg"></i></a>
                    	<a class="" href="#!"><i class="fa fa-pinterest fa-lg"></i></a>
                    	<a class="" href="#!"><i class="fa fa-twitter fa-lg"></i></a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 vincethewalker.com
            <a class="" href="#!"><%= link_to "Car Bar", root_path, class: "pull-right" %></a>
        </div>
 </div>