<div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Well!!</h5>
                <p class="grey-text text-lighten-4">So what kind of car would you like?</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Media</h5>
                  <ul>
                  <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-facebook fa-lg"></i></a></li> 
                  <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-instagram fa-lg"></i></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-pinterest fa-lg"></i></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter fa-lg"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 vincethewalker.com
            <a class="grey-text text-lighten-4 right" href="#!"><%= link_to "Car Bar", root_path, class: "pull-right" %></a>
        </div>
 </div>