<nav>
    <div class="nav-wrapper col" id= "barcol">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="tab col s3"><%= link_to "Home", root_path %></li>
        <li class="tab col s3"><%= link_to "Cars", cars_path %></li>
        <li class="tab col s3"><a href="#">About</a></li>
      </ul>
      <ul class="sidenav" id="mobile-demo">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Cars", cars_path %></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </nav>
