<nav>
    <div class="nav-wrapper col s12" id= "barcol">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down tabs col s6 offset-s6">
        <li class="tab col s3"><%= link_to "Home", root_path %></li>
        <li class="tab col s3"><%= link_to "Cars", cars_path %></li>
        <li class="tab col s3"><a href="#">About</a></li>
      </ul>
      <ul class="sidenav" id="mobile-demo">
        <li class="col s12"><%= link_to "Home", root_path %></li>
        <li class="col s12"><%= link_to "Cars", cars_path %></li>
        <li class="col s12"><a href="#">About</a></li>
      </ul>
    </div>
  </nav>

  <!--
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Test 1</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab col s3"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>
  -->